#list-of-categories li{
  list-style: none;
  font-size: 1.5rem;
}
.news {
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 20px;
}
.author-img{
  width: 60px;
  border-radius: 50px;
}
.author-section{
  position: relative;
  margin-top: 60px;
}
@media screen and (max-width: 567px) {
  .news{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  #list-of-categories{
    flex-wrap: wrap;
  }
  #list-of-categories li{
    margin-right: 10px;
  }
  .author-section{
    flex-direction: column;
    margin-top: 40px;
  }
  .author{
    margin-bottom: 5px;
  }
  .total-view {
    margin-bottom: 15px;
  }
}