#list-of-categories li{
  list-style: none;
  font-size: 1.5rem;
}
.news {
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
}
.author-img{
  width: 60px;
  border-radius: 50px;
}
@media screen and (max-width: 567px) {
  .news{
    flex-direction: column;
  }
  #list-of-categories{
    
  }
  
}